.image-bg {
    background-image:
        url(https://w0.peakpx.com/wallpaper/775/716/HD-wallpaper-marvel-comics-captain-america-hulk-iron-man-marvel-comics-marvel-superheroes-spiderman-superheroes-thor-wolverine.jpg);
    height: 120vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    width: 50%;
    margin-top: 5vh;
}

h1 {
    text-align: center;
}

p {
   font-size: small; 
}