.container{
    width: auto;
    
}
.centrado{
    text-align: center;
    
}
.btn-danger {
    width: 100%;
   background-color: rgb(255, 81, 81);
  }

.pointer{cursor:pointer;
}  

.table{
    background-color: rgb(199, 199, 199);
    
    border: 10px;
    
    width: auto;
}
