<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">Herogame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/card">Cartas</a>
        </li>
      </ul>
    </div>
    <div class="d-flex" role="search">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="cerrar()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <form [formGroup]="cardForm" (ngSubmit)="createCard()">
    <br />
    <h2>{{ title }}</h2>
    <br />

    <button type="submit" class="btn btn-primary" (click)="dashboard()">
      Cards
    </button>
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" formControlName="name"
        required />
      <div class="alert alert-danger" role="alert" *ngIf="isValidFieldDatosLoginForm('name')">
        Nombre requerido
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Power</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Power" formControlName="power"
        required />
      <div class="alert alert-danger" role="alert" *ngIf="isValidFieldDatosLoginForm('power')">
        Poder requerido
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="formGroupExampleInput">Features</label>

        <input type="text" class="form-control" placeholder="Feature" id="formGroupExampleInput"
          formControlName="features" required />
        <div class="alert alert-danger" role="alert" *ngIf="isValidFieldDatosLoginForm('features')">
          Al menos una Caracteristica requerida
        </div>
        <button type="button" class="btn btn-danger" (click)="addFeature()">
          Add
        </button>
        <ul>
          <li *ngFor="let a of features">
            {{ a }}
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">imageUrl</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="imageUrl"
        formControlName="imageUrl" required />
      <div class="alert alert-danger" role="alert" *ngIf="isValidFieldDatosLoginForm('imageUrl')">
        Image requerido
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="cardForm.invalid">
      Create
    </button>
  </form>
</div>