<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/game">Herogame</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="../unirse">Unirse a un juego</a>
          </li>
        </ul>
      </div>
      <div class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="cerrar()">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <h1 class="text-secondary">Unirse a un juego</h1>
    <form [formGroup]="unirmeForm" (ngSubmit)="unirme()" class="row g-3">
        <div class="col-12">
            <label for="inputAddress" class="form-label text-secondary">Id del juego</label>
            <input type="text" class="form-control" id="inputAddress" formControlName="juegoId" required>
            <div class="alert alert-danger" role="alert" *ngIf="isValidFieldDatosLoginForm('juegoId')">
                El id del juego es requerido
            </div>
        </div>        
        <div class="col-12">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" [disabled]="unirmeForm.invalid">
                    Unirme
                </button>
            </div>
        </div>
    </form>
</div>
